services:
  minecraft-server:
    build:
      context: ./minecraft-container
      dockerfile: Dockerfile.local
    container_name: minecraft-server
    ports:
      - "25565:25565"
    restart: unless-stopped
    volumes:
      - ./minecraft-container/server:/minecraft_server
      - ./local-eula.txt:/minecraft_server/eula.txt:ro
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: "${MC_MAX_CPU}"
          memory: "${MC_MAX_RAM}"
        reservations:
          cpus: "${MC_MIN_CPU}"
          memory: "${MC_MIN_RAM}"
