services:
  minecraft-server:
    build:
      context: ./minecraft-container
      dockerfile: Dockerfile.local
    container_name: minecraft-server
    ports:
      - "25565:25565"
    restart: unless-stopped
    volumes:
      - ./minecraft-container/src/server/:/minecraft_server/server
      - ./eula.txt:/minecraft_server/server/eula.txt:ro
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: "${MC_MAX_CPU:-1}"
          memory: "${MC_MAX_RAM:-2G}"
        reservations:
          cpus: "${MC_MIN_CPU:-1}"
          memory: "${MC_MIN_RAM:-2G}"
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
